html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tetris {
  padding: 15px 8px;
  border: 1px solid white;
  margin: 0px auto;
  width: 515px;
  height: 670px;
}

canvas {
  float: left;
  display: block;
  border: 1px solid white;
  margin: 2px;
}

.wrapper {
  float: right;
  display: block;
  width: 180px;
  margin: 2px;
  padding-right: 5px;
  user-select: none;
  font-size: 20px;
}

.row {
/*  display: flex;*/
  width: 170px;
}

.info {
  margin-bottom: 15px;
}

.arrows {
  width: 35px;
  height: 35px;
  background-color: white;
  color: black;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-radius: 15%;
  margin: 3px auto;
  cursor: pointer;
}

#keys {
  display: flex;
}

.pause {
  width: 35px;
  background-color: rgb(86, 127, 221);
  color: black;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-radius: 15%;
  margin: 50px auto 3px;
}

.new_game {
  height: 30px;
  background-color: yellow;
  color: black;
  
}

#record {
  color: lightgreen;
}

#scores {
  color: white;
}

@media(max-width: 450px) {
  .tetris {
    margin-left: 20px;
    margin-top: 20px;
  }
  .wrapper::before {
    content: "";
    display: block;
    clear: both;
  }
  .wrapper {
    display: inline-block;
    float: left;
    width: 300px;
  }
  .tetris {
    height: 1000px;
  }
  .pause {
    display: inline-block;
    margin: 10px;
  }
}
